@model FishingPlaceViewModelList

<div onclick="window.location='https://en.wikipedia.org/wiki/Blackside_hawkfish'" id="fishingPlace-container" class="container">
        <h4>Blackside hawkfish</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Pez_halc%C3%B3n_de_cabeza_moteada_%28Paracirrhites_forsteri%29%2C_parque_nacional_Ras_Muhammad%2C_Egipto%2C_2022-03-28%2C_DD_107.jpg/330px-Pez_halc%C3%B3n_de_cabeza_moteada_%28Paracirrhites_forsteri%29%2C_parque_nacional_Ras_Muhammad%2C_Egipto%2C_2022-03-28%2C_DD_107.jpg" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The black-side hawkfish (Paracirrhites forsteri), freckled hawkfish or Forster's hawkfish, is a species of marine ray-finned fish, a hawkfish belonging to the family Cirrhitidae. It is from the Indo-Pacific. It is occasionally found in the aquarium trade and is also of minor importance to local commercial fisheries. It grows to a total length of 22 cm (9 in)</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Bludger_(fish)'" id="fishingPlace-container" class="container">
        <h4>Bludger</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Bludger_trevally_Darwin.jpg/330px-Bludger_trevally_Darwin.jpg" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The bludger (Carangoides gymnostethus), also known as the bludger trevally, nakedbreast trevally or Bleeker's jackfish, is a widespread species of large marine fish in the jack family, Carangidae.The bludger inhabits the tropical and subtropical regions of the Indo-west Pacific Ocean, distributed from South Africa in the west to Japan and New Caledonia in the east. It is a large fish, growing to a maximum recorded length of 90 cm, and is very similar to the yellowspotted trevally, Carangoides fulvoguttatus, but can be separated by the complete absence of breast scales and a number of other anatomical features.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Blue_trevally'" id="fishingPlace-container" class="container">
        <h4>Blue trevally</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Blue_trevally_taxobox.png/330px-Blue_trevally_taxobox.png" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The blue trevally (Carangoides ferdau), also known as the banded trevally, barred trevally, Ferdau's trevally or Forskaal's jackfish, is a common, widespread species of pelagic marine fish classified in the jack family, Carangidae. The blue trevally is distributed throughout the tropical and subtropical waters of the Indo-Pacific and central Pacific regions, ranging from South Africa in the west to Hawaii in the east.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Bumpnose_trevally'" id="fishingPlace-container" class="container">
        <h4>Bumpnose trevally</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Carangoides_hedlandensis.jpg/330px-Carangoides_hedlandensis.jpg" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The bumpnose trevally (Carangoides hedlandensis), also known as the bumpnose kingfish or onion kingfish, is a species of relatively small inshore marine fish classified in the jack family Carangidae. The bumpnose trevally is fairly common in the tropical and subtropical waters of the Indo-west Pacific region, ranging from South Africa in the west to Japan and Samoa in the east. It is a small species by carangid standards, reaching a maximum known length of 32 cm, and can be distinguished from the similarly shaped Carangoides armatus by a distinct 'bump' on the snout, which gives the fish its common name.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Coachwhip_trevally'" id="fishingPlace-container" class="container">
        <h4>Coachwhip trevally</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Coachwhip_trevally_Weipa.jpg/330px-Coachwhip_trevally_Weipa.jpg" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The coachwhip trevally (Carangoides oblongus), also known as the oblong trevally or oblique-banded trevally, is a species of inshore marine fish classified in the jack family Carangidae. The coachwhip trevally is distributed through the Indo-west Pacific region, ranging from South Africa in the west to Fiji and Japan in the east. It is a moderately large fish, growing to a known maximum length of 46 cm and can be distinguished from similar species by an array of detailed morphological features including dentition, fin ray counts and scale patterns.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Malabar_trevally'" id="fishingPlace-container" class="container">
        <h4>Malabar trevally</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Malabar_trevally_2.JPG/330px-Malabar_trevally_2.JPG" class="img-thumbnail" /></div>
            <div class="col-md-9">
                The Malabar trevally (Carangoides malabaricus), also known as the Malabar jack, Malabar kingfish or nakedshield kingfish, is a species of large inshore marine fish of the jack family, Carangidae. It is distributed throughout the Indian and west Pacific Oceans from South Africa in the west to Japan and Australia in the east, inhabiting reefs and sandy bays on the continental shelf.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Milkfish'" id="fishingPlace-container" class="container">
        <h4>Milkfish</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Chanidae_-_Chanos_chanos.JPG/330px-Chanidae_-_Chanos_chanos.JPG" class="img-thumbnail" /></div>
            <div class="col-md-9">
               The species has many common names. The Hawaiian name for the fish is awa, and in Tahitian it is ava. It is called bangús in the Philippines, where it is popularly known as the national fish, although the National Commission for Culture and the Arts has stated that this is not the case as it has no basis in Philippine law.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Shadow_trevally'" id="fishingPlace-container" class="container">
        <h4>Shadow trevally</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Shadow_trevally_2.JPG" class="img-thumbnail" /></div>
            <div class="col-md-9">
               The shadow trevally (Carangoides dinema), also known as the shadow kingfish, twothread trevally or Aldabra trevally, is a species of inshore marine fish in the jack family Carangidae. The species is patchily distributed throughout the tropical and subtropical waters of the Indian and west Pacific Oceans, from South Africa in the west to Japan and Samoa in the east, reaching as far south as Indonesia and New Caledonia.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div onclick="window.location='https://en.wikipedia.org/wiki/Teardrop_butterflyfish'" id="fishingPlace-container" class="container">
        <h4>Teardrop butterflyfish</h4>
        <div class="row">
            <div class="col-md-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Chaetodon_unimaculatus_1.jpg/330px-Chaetodon_unimaculatus_1.jpg" class="img-thumbnail" /></div>
            <div class="col-md-9">
               The teardrop butterflyfish (Chaetodon unimaculatus) is a species of marine ray-finned fish, a butterflyfish belonging to the (family Chaetodontidae. It is found in the Indo-Pacific region.</div></div>
        <div class="row">
            
           <div class="col text-right">
               <b>Location :</b> Micronesia</div></div></div><hr />

<div>
    <button onclick="window.location='/Home/TheChalenge'" class="btn btn-primary">GO BACK</button>
    
</div>
