@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white"></b><b>FISHING CLUB MANIA</b></div>
</div>
<div class="text-center">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/df/c6/dc/caption.jpg?w=700&h=-1&s=1" class="img-fluid" alt="Responsive image">
</div>

<div class="text-center">
    <<div class="p-3 mb-2 bg-success text-white">Established in the late 1970’s, The Fishing Club Mania is a community based, family friendly amateur fishing club accommodating all levels of anglers. The DGFC is the home of the nationally renowned NT Barra Classic, NT Junior Barra Classic, NT Billfish Classic and the Dundee Billfish Bash. The Fishing club Mania also proudly host the annual Darwin Boat Show in all time in the year</div>
</div>
<div class="row">
    <div class="col-md-2">
    <<div class="p-3 mb-2 bg-success text-white">Address:Stara Zagora ul.Hristo Botev 2</div></div>
    
    <div class="col text-right">
    <<div class="p-3 mb-2 bg-success text-white">GSM: 0883236003</div>
    </div>

</div>