@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <div class="p-3 mb-2 bg-danger text-white"><b>THE BIGEST CHALENGE FOR YOU</b></div>
</div>
<div class="text-center">
    <img src="https://images.unsplash.com/photo-1553603227-2358aabe821e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80" class="img-fluid" alt="Responsive image">
</div>
<div class="text-center">
<div>May be you want to <a href="/Home/Pictures"><b>see more pictures</b></a>
</div>
</div>
<div class="text-center">
    <div class="p-3 mb-2 bg-danger text-white"> It has always been a dream to travel to Micronesia, but it’s a whole other story to get the opportunity to go and dive
        the biggest graveyard of WWII ships in the world. The place I am speaking of is Chuck Lagoon of the Federated States of Micronesia,
        located about 1,000km southeast from Guam on the Pacific Ocean. These are the many islets that are scattered within the vast lagoon.
        This a bealtiful place with many posible practice to catch a big fish.The chalenge begin on 12.12.2023 year and and after 7 day, the first 10 people make rezervation 
        and pay a taxs of **** euro on bank Acound ****************** will have a chance to try to win ***** euro .For more information call on the phone number.
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    <div class="p-3 mb-2 bg-white text-dark"><b>Address:
        Stara Zagora</b></div></div>
    
    <div class="col text-right">
    <div class="p-3 mb-2 bg-white text-dark"><b>GSM: 088********</b></div>
    </div>

</div>